<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body>
	
	<th:block th:replace="nav"/>
	<div class="text-center">
	<h1 class="m-4">Pizze!!</h1>
	<h1 th:if="${pizze.size() < 1}">Pizze in manutenzione, riprova più tardi :(</h1>
	<ul class="list-unstyled" th:if="${pizze.size() > 0}">
		<li
			th:each="pizza : ${pizze}"
			th:object="${pizza}"
		>
			[[*{name}]]
		</li>
	</ul>
	</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>